
<div class="card">
    <h3 class="card-header">{{"#"+singleInvoice.ID}}</h3>
    <div class="card-block">
        <h4 class="card-title"></h4>
        <div class="card-text">
            <p>
               CustomerID {{singleInvoice.CustomerID}}
            </p>
            <p>
                TechID {{singleInvoice.TechID}}
            </p>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-sm" (click)="paidInvoice()">Paid</button>
        <button class="btn btn-sm" (click)="InspectInvoice()">Inspect</button>
    </div>
</div>
